body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #2c2c2c;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.container{
width: 1280px;
padding: 0 16px;
margin: 0 auto;
display: flex;
}
.header-container{
    
}

.page-header{
box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}
.page-nav {
margin-right: 30px;
}

.logo {
margin-right: auto;
margin-top: 10px;

}

.nav-list {
display: flex;
gap: 28px;
}

.nav-link {
padding: 28px 0;
display: block;
}

.header-btn {
font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    background: #bbf330;
    border-radius: 30px;
        padding: 6px 17px;
        min-width: 98px;
        height: 32px;
        margin-top: 20px;
        margin-right: 16px;
        font-family: inherit;
}

/* ===================== PREVIEV ===================== */

.previev-title {
    padding-top: 159px;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.previev-paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.previev-button {
font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    background: #bbf330;
    border-radius: 30px;
    padding: 6px 17px;
    min-width: 98px;
    height: 32px;
    margin-top: 20px;
    margin-right: 16px;
    font-family: inherit;
}

/* ===================== SECOND PREVIEV ===================== */
.second-previev-container {
    margin-left: 90px;
}

.second-previev-section{
    margin-bottom: 100px;
}

.second-previev-title {
    font-size: 42px;
        line-height: 1.2;
        width: 526px;
}

.second-previev-paragraph {
    font-size: 16px;
        line-height: 1.5;
        margin-bottom: 40px;
        width: 500px;
}

.container-icons-list {}

.second-previev-list {
    display: flex;
    gap: 67px;
}

.second-previev-imems {
    width: 253px;
}

.second-previev-title-icons {
    font-size: 18px;
    line-height: 1.4;}

.second-previev-title-paragraph {
    font-size: 14px;
    line-height: 1.5;}

.second-previev-button{
    font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        text-align: right;
        border-radius: 30px;
        padding: 10px 20px;
        min-width: 106px;
        height: 40px;
        margin-top: 32px;
        margin-right: 16px;
        font-family: inherit;
        border: 2px solid #7eb101;
        background: #fff;
}

/* ===================== THIRD PREVIEV ===================== */


.menu-description{
    text-align: center;
    margin-bottom: 40px;
}

.menu-paragraph{
    font-size: 16px;
}

.menu-title{
    font-size: 42px;
    margin-bottom: 20px;
}


.menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 1280px;
        padding: 0 16px;
        margin: 0 auto;
        justify-content: center;
}
